= render partial: "core/enter_code"
.app(ng-app="map" ng-controller="Map")
  = render partial: "core/map"
  = render partial: "core/stats"
= render partial: "core/join"
%footer
  = render partial: "core/wayfinder"
  = render partial: "core/links"
