!!! 5
%html
  %head
    %meta(charset="UTF-8")
    %meta(http-equiv="content-language" content="en")
    %title The Beginnings & Endings Project
    %meta{name: "description", content: "Beginnings & Endings"}

    = stylesheet_link_tag "admin"
    = javascript_include_tag "admin"
    = csrf_meta_tags

  %body

    = render partial: "core/flash", :locals => {:flash => flash}

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => "/downloads"} Beginnings & Endings Dashboard
          %ul.nav.pull-right
            %li
              %a{:href => "/"} Back to site

    .container
      = yield

